body {
    font-family: "Inter", sans-serif;
    font-size:15px ;
    max-width: 1130px ;
    margin:0 auto;
    color: #1F1F1F;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-flex{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 36px;
}
.nav-flex a {
    margin-right: 24px;
}
a {
    text-decoration: none;
    color:#33383F ;
}
.sing-in {
    color: #0070A0;
    background: none;
    border: none;
}
.demo {
    color: #FFFFFF;
    background-color: #0070A0;
    padding: 6px 20px;
    border: none;
    font-size: 17px;
}
header .demo {
    font-size: 15px;
}
h1{
    font-family: "Fraunces",serif;
    font-size: 58px;
    font-weight: 400;
    color: #1F1F1F ;
}
.main_info_text{
    font-size: 20px;
    color: #1F1F1F ;
}
.main_info_buttons {
    display: flex;
    align-items: center;
}
.main_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 120px auto;
}
.main_info_left{
    width: 525px;
}

.companies_text{
    margin: 0 auto ;
    width: fit-content;
    font-size: 24px ;
    margin-bottom: 25px ;
}
li{
    list-style-type: none ;
}
.companies_list{
    display: flex;
    justify-content: center;
}
.companies_list li{
    margin-right: 62px;
}
.features{
    display: flex;
    justify-content: space-between;
    margin-top: 162px;
    margin-bottom: 120px;
}
.features div{
    padding: 32px 32px 40px 32px;
    width: 291px ;
}
h2{
    font-family: "Fraunces",serif;
    font-size: 25px;
    font-weight: 400;
}
.features_fast{
    background-color: #FAEA73;
}
.features_buck{
    background-color: #CCEFF6;
}
.features_safe{
    background-color:#F7CEDC ;
}
.care{
    background-color: #F7F9FA;
    padding: 80px 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 ;
}
h4 {
    font-family: "Fraunces",serif;
    font-size: 42px;
    font-weight: 400;
}
.care_title{
    width:600px ;
    margin: 0 auto 60px 0;
}
.care_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.care_block_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C2CDD8;
    border-left-style: none ;
    border-right-style: none ;
    margin-bottom: 1px ;
}
.core_block_item_left{
    display: flex;
    align-items: start;

}
.core_block_item_text{
    margin-left: 20px;
    font-weight: 400;
}
.core_block_item_text h3{
    font-family: "Fraunces", serif ;
    font-size: 21px;
    margin: 0 0 18px 0;
}
.core_block_list{
    width: 450px;
}
.care_block_item button{
    border: none;
    background: none;
}
.care_block_img{
    width: 400px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 120px auto;
}
.about_title{
    width: 260px;
    margin: 0;
}
.about_blok{
    display: flex;
    justify-content: space-between;
    align-items:end;
}
.about_blok_item{
    width: 220px;
}
.about_blok_item:nth-child(2){
    margin: 0 30px 0 40px;
}
.track{
    background-color: #0070A0;
    padding: 80px 0;
    color: #FFFFFF;
}
.track_blok{
    display: flex;
    justify-content: space-between;
}
.track_blok_info{
    width: 450px;
}
.track_blok_info h4{
    margin: 0 0 20px 0;
}
.track_blok_list{
    list-style-image:url(assets/Vector_galochka.svg) ;
}
.track_blok_list li:nth-child(2){
    margin: 11px 0;
}
.track_blok_info button{
    margin-top: 27px;
}
.automate_title{
    margin: 120px 0 21px 0;
}
.automated_text{
    width: 640px;
    font-size: 18px;
}
.automated_blok{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 65px 0 120px 0;
}
.automated_blok_item{
    width: 234.5px;
}
.automated_blok_item h2{
    margin: 7px 0 13px 0;
}
.blog{
    background-color: #F7F9FA;
    padding: 80px 0;
}
.blog_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.blog_block{
    display: flex;
    justify-content: space-between;

}
.blog_block_item{
    width: 355px;
    background-color: #FFFFFF;
}
.blog_block_item_info{
        padding: 25px 0 28px 24px;
        width: 288px;
}
.blog_block_item_info h5{
    color: #2c90c9;
    background-color: #e6f7ff;
    padding: 2xp 12xp 4px 12px;
    font-size: 12px;
    width: fit-content;
}
.blog_block_item_info h2{
    margin: 8px 0 12px ;
}
.blog_date{
    font-size: 12px;
    margin-top: 13px;
}
.start{
    background-color: #e6f7ff;
    padding: 64px 0 48px 64px;
    margin-top: 80px;
}
.start_text{
    font-size: 18px;
    margin: 21px 0 33px 0;
    width: 480px;
}
.start_items{
    display: flex;
    margin-top: 20px;
}
.start_items p{
    color: #626a72;
    font-size: 13px;
    margin-right: 36px;
}
.start_items p::before{
    content:url(assets/galka_2.svg)
}
